<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sinia.com.linkfarmnew">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="sinia.com.linkfarmnew.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.MyCouponsActivity" />
        <activity android:name=".activity.MyCollectActivity" />
        <activity android:name=".activity.MyFootPrintActivity" />
        <activity android:name=".activity.AddressManagerActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.EditAddressActivity" />
        <activity android:name=".activity.MyExpandActivity" />
        <activity android:name=".activity.PointRecordActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.ShopDetailActivity" />
        <activity android:name=".activity.LocationActivity" />
        <activity android:name=".activity.FillOrderActivity" />
        <activity android:name=".activity.SendtoAddressActivity" />
        <activity
            android:name=".activity.ApplyReturnActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.GoodsListActivity" />
        <activity
            android:name=".activity.GoodsDetailActivity"/>
        <activity android:name=".activity.UseCouponsActivity" />
        <activity android:name=".activity.CheckingActivity" />
        <activity android:name=".activity.ChangeNameActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.PreViewImageActivity" />
        <activity
            android:name="com.sinia.zxing.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".activity.ServiceCommentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StandardDialogActivity"
            android:theme="@style/ActionSheetDialogStyle"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activity.SendAddressTypeActivity"
            android:theme="@style/ActionSheetDialogStyle" />
        <activity
            android:name=".activity.PersonalCenterActivty"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="dce82a99a98f53a4af5e0f1f5ef9834b" />

        <!-- 微信分享 name的路径不能改-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微博分享  name的路径不能改-->
        <activity
            android:name=".wxapi.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!--&lt;!&ndash; 腾讯SSO授权的Activity注册 &ndash;&gt;-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105256171" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57bd0e30e0f55aeebd0043c2"></meta-data>
    </application>

</manifest>